<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 2 years of experience as a software engineer, and have worked
            at both in a small startup and a big organization. While I'm a full-stack
            developer, my expertise is in Web development and PHP.
        </p>
        <p>
           I love building things.
           I'm most attracted to solving real customer problems with a business justification.
           I have been leading a small team of 4 developers. I have been involved in development, team building 
           and project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Developed an android app for ForiMazdoori startup.
    			</li>
          <li>
            LAMP stack Deployment on AWS server, virtual hosts, GIT version control, auto deployment script.
          <li>
            Created a complete ads management system with Facebook Marketing APIs.
    			<li>
            Developed an IONIC app for feedback surveys.
    			</li>
    			<li>
            Five times punctuality winner, and Badminton champion in TSL league.
    			</li>
    			</li>
    			<li>
            Taking technical interviews of fresh hiries.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
