<section class="tout" id="projects">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Projects</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    
        </p>
			<ul>
			  <li>
				 <b>Armada Apparel </b>Website using PHP, MySQL, Bootstrap, Ajax.
			  </li>
			  <li>
				  <b>RMChauffeurs</b> in Laravel.
			  </li>
			  <li>
				  <b>Food Order Services</b> is a comprehensive Food Delivery system where a customer can
				order food online from their favorite restaurant. Delivery boy has the android app
				integrated with the web module.
			  </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0"></h3>
		  <ul>
  			<li>
          <strong>Android</strong> ForiMazdoori app where a person can find nearest workers and hire them. Can rate worker and read reviews.
    		</li>
  			<li>
		<strong>CF,PHP</strong> Facebook ads system using Marketing API. 
  			</li>
  			<li>
		<strong>Laravel,Ionic</strong> AI powered Real estate and Marketing help bot.
  			</li>
  			<li>
				<strong>Ionic</strong> Feedback survey app for Android and IOS.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
